/* Conteneur principal */
.tree-slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Conteneur des images d'arbre */
.tree-images {
    position: relative;
    width: 100vw; /* Prend toute la largeur */
    height: 100vh; /* Prend toute la hauteur */
    margin-bottom: 0; /* Supprime la marge */
    max-width: 100vw;
    max-height: 100vh;
}

body {
    font-family: "AQCT", Arial, sans-serif;
    background: white;
    margin: 0;
    padding: 0;
    height: 100vh; /* Prend toute la hauteur */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Ancre le contenu en bas */
    align-items: flex-start; /* Ancre à gauche */
}

/* Rotation du conteneur si reverse=true */
/*.tree-rotated {
    transform: rotate(180deg);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}*/

.tree-empty,
.tree-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
}

.tree-fill {
    transition: clip-path 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
}
